@import '../variables';
@import '../mixins';

.perfil {
    background-color: $color-bg;
    padding: 0.5rem 7rem 5rem;
}

.perfil-vista {
    background-color: $color-bg;
    margin-top: 30px;
    padding: 0.5rem 1rem;
    margin-left: 3rem;
    border-radius: 20px;
    margin-right: 3rem;
    justify-content: space-around;
}

.cabecera {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecera-vista {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-datos-user {
    margin-left: 5rem;
}

.cabecera-busqueda {
    display: flex;
    align-items: center;
    justify-content: left;

}

.imagen {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin: 1rem;
}

.container-botones {
    display: flex;
    flex-direction: column;
}

.info-usuario {
    margin-right: 2rem;
}

.boton1 {
    background-color: #F2B2BB;
    padding: 0.8rem 3.4rem;
    border-radius: 50px;
    color: #1D3956;
    box-shadow: 0 2px 14px rgba(1, 1, 0, 0.1);
    border: none;
    margin: 10px;
}

.boton {
    background-color: #F2B2BB;
    padding: 0.8rem 3rem;
    border-radius: 50px;
    color: #1D3956;
    border: none;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
}

.boton-peque {
    background-color: #F2B2BB;
    padding: 0.8rem 3rem;
    border-radius: 50px;
    color: #1D3956;
    border: none;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: none;
    text-decoration: none;
}

.boton1:hover,
.btn:hover,
.boton:hover,
.boton-peque:hover {
    background-color: #E584AE;
    color: #fff;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.container-notas {
    display: flex;
    flex-direction: column;
    height: 5rem;
    width: 22rem;
}

.cum {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.materias {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: #1D3956;
    font-size: large;
    align-items: center;
    text-decoration: none;
}

h3 {
    color: gray;
    align-items: center;
    text-decoration: none;
}

.texto {
    font-size: large;
    box-shadow: 2px 1px 3px 0.5px rgba(20, 20, 20, 0.3);
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 10px;
    width: 7rem;
    text-align: center;
}

.container-lista-mat {
    display: flex;
    align-items: center;
    width: 35rem;
    justify-content: space-between;
    align-items: center;
}

.container-materia {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 61rem;

}

.lista-materias {
    font-size: medium;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.nota-materia {
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    font-size: large;
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 10px;
    width: 10rem;
    text-align: center;
}

.materia-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.lista-materias {
    margin-bottom: 5px;
}


.App {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.btn {
    background-color: #f8d0d5;
    padding: 0.8rem 1rem;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    color: #1D3956;
    border: none;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.cursos-propios {
    padding: 2rem 0;

}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: auto;

}

@media only screen and (max-width: 1000px) {
    .imagen {
        width: 9rem;
        height: 9rem;
        padding: 10px;
        margin-left: -15px;
    }

    .container-datos-user {
        margin-left: 1rem;
    }


    .boton,
    .boton1 {
        padding: 0.5rem 2rem;
        text-decoration: none;
    }

    .boton1:hover,
    .btn:hover,
    .boton:hover,
    .boton-peque:hover {
        background-color: #E584AE;
        color: #fff;
        transition: box-shadow 0.3s ease;
        cursor: pointer;
        text-decoration: none;
    }

    h1 {
        font-size: large;
        margin-left: 5px;
    }

    h3 {
        font-size: medium;
        margin-left: 5px;
    }

    .container-notas,
    .container-lista-mat,
    .container-materia {
        width: 100%;
    }

    .container-materia {
        width: 100%;
    }

    .corP {
        font-size: medium;
    }

    @media only screen and (max-width: 600px) {

        .imagen {
            width: 7rem;
            height: 7rem;
            padding: 10px;
            margin-left: -15px;
        }

        .corP,
        .carP {
            font-size: 0.9rem;
        }

        .perfil {
            background-color: $color-bg;
            padding: 1.8rem 1.8rem 5rem;


        }

        .cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3rem;
            width: auto;
        }

        .boton,
        .boton1 {
            display: none;
            text-decoration: none;
        }

        .boton-peque {
            display: block;
            background-color: #F2B2BB;
            padding: 0.8rem 3rem;
            border-radius: 50px;
            color: #1D3956;
            border: none;
            margin: 10px;
            text-decoration: none;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }
    }
}